{:aliases
 {:test {:main-opts ["-m" "kaocha.runner"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}}
 :deps
 {org.bouncycastle/bcprov-jdk18on {:mvn/version "1.78"}
  org.clojure/data.json {:mvn/version "2.5.1"}}}
